################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back-end/SudoBox.API/DevelopmentSQL/certificates
/back-end/SudoBox.API/DevelopmentSQL/certificates.sql
