$text: #FFFFFF;
$whitish: #CCCCCC;
$pale-text: #AAAAAA;
$accent: #279EFF;
$accent2: #1A5C99;
$primary: #0076D6;
$background: #202020;
$background2: #161616;
$background3: #141414;
$edge: #303030;
$edge2: #55575C;
$edge3: #81858C;
$black: #000000;
$red: #c62b2b;
$yellow: #FFD726;
$blue: #279EFF;
$green: #2a9a24;
