<div class="sidebar">
  <span class="sidebar-banner">
    <img priority ngSrc="/banner.svg" alt="" fill>
  </span>

  <hr class="sidebar-line">

  <ng-container *ngFor="let item of sidebarItems">
    <p *ngIf="item.roles.includes(currentUserRole)"
       (click)="item.action ? item.action() : null"
       routerLinkActive="active-link"
       [routerLink]="item.link"
       [ngClass]="item.class">
      <span class="material-symbols-rounded">{{ item.icon }}</span> {{ item.label }}
    </p>
  </ng-container>
</div>
