<div class="container">
  <button (click)="onNoClick()" class="close-button" mat-icon-button tabindex="-1">
    <span class="material-symbols-rounded">close</span>
  </button>
  <p class="large-text">Your keys</p>

  <mat-form-field appearance="outline">
    <mat-label>Private key</mat-label>
    <textarea readonly [scrollTop]="0" rows="8" class="textarea" matInput [value]="privateKey" tabindex="-1"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Public key</mat-label>
    <textarea readonly [scrollTop]="0" rows="8" class="textarea" matInput [value]="publicKey" tabindex="-1"></textarea>
  </mat-form-field>

  <div class="action-buttons">
    <button [cdkCopyToClipboard]="privateKey" class="blue-button finish">
      Copy private key
    </button>
    <button [cdkCopyToClipboard]="publicKey" class="blue-button finish">
      Copy public key
    </button>
  </div>
</div>
