@import "colors";
@import "table";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background;
}

.table-header {
  padding-right: 16px;
}

.table-width {
  min-width: 55vw;
}

.container {
  background-color: $background2;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.fp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 0;
}

// custom width

mat-header-cell.issuedBy,
mat-cell.issuedBy {
  flex: 0 0 35%;
}

mat-header-cell.status,
mat-cell.status {
  flex: 0 0 8%;
}

mat-header-cell.validFrom,
mat-cell.validFrom {
  flex: 0 0 11%;
}

mat-header-cell.validUntil,
mat-cell.validUntil {
  flex: 0 0 11%;
}

mat-header-cell.fingerprint,
mat-cell.fingerprint {
  flex: 0 0 20%;
}

mat-header-cell.actions,
mat-cell.actions {
  flex: 0 0 15%;
}
