<div class="container">
  <div class="table-header table-width">
    <mat-table [dataSource]="certificatesDataSource">

      <ng-container matColumnDef="issuedBy">
        <mat-header-cell class="issuedBy" *matHeaderCellDef>Issued by (DN)</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell class="status" *matHeaderCellDef>Status</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="validFrom">
        <mat-header-cell class="validFrom" *matHeaderCellDef>Valid from</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="validUntil">
        <mat-header-cell class="validUntil" *matHeaderCellDef>Valid until</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="serialNumber">
        <mat-header-cell class="serialNumber" *matHeaderCellDef>Serial Number</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell class="actions" *matHeaderCellDef></mat-header-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    </mat-table>
  </div>

  <div class="table-width">
    <mat-table [dataSource]="certificatesDataSource">
      <ng-container matColumnDef="issuedBy">
        <mat-cell class="issuedBy" *matCellDef="let certificate">
          {{ certificate.issuedBy }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-cell class="status" *matCellDef="let certificate">
          {{ certificate.status }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="validFrom">
        <mat-cell class="validFrom" *matCellDef="let certificate">
          {{ certificate.validFrom | date }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="validUntil">
        <mat-cell class="validUntil" *matCellDef="let certificate">
          {{ certificate.validUntil | date }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="serialNumber">
        <mat-cell class="serialNumber" *matCellDef="let certificate">
          <p class="fp">{{ certificate.serialNumber }}</p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-cell class="actions" *matCellDef="let certificate">
          <button (click)="openRevokeCertificate()" mat-icon-button>
            <span class="material-symbols-rounded">block</span>
          </button>
          <button (click)="openCertificateDetails()" mat-icon-button>
            <span class="material-symbols-rounded">quick_reference_all</span>
          </button>
          <button mat-icon-button>
            <span class="material-symbols-rounded">download</span>
          </button>
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
