<div>
  <span class="sidebar-banner">
    <img priority ngSrc="/banner.svg" alt="" fill>
  </span>

  <div class="container">
    <p class="large-text">Login</p>

    <form class="login-form">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password"/>
      </mat-form-field>
    </form>

    <button class="blue-button button">Login</button>
    <button class="blue-button button">Register</button>
  </div>
</div>
