@import "colors";
@import "buttons";

.container {
  background-color: $background;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 20px;
  padding: 5em 3em;
  color: $text;
}

mat-form-field {
  margin-top: 5px;
  margin-bottom: 5px;
}

mat-form-field {
  width: 100%;
}

.finish {
  margin-bottom: 0;
  width: 14rem;
  height: 3rem;
}

.textarea {
  resize: none;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $edge2;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $accent;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
