@import "colors";
@import "table";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background3;
}

.table-width {
  min-width: 70vw;
}

.container {
  background-color: $background;
  padding: 24px 24px 40px 24px;
  border-radius: 24px;
  margin: 72px 0 100px 0;
}

mat-header-row, mat-table {
  background-color: $background;
}

.fp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 0;
}

// custom width

mat-header-cell.issuedBy,
mat-cell.issuedBy {
  flex: 0 0 25%;
}

mat-header-cell.issuedTo,
mat-cell.issuedTo {
  flex: 0 0 25%;
}

mat-header-cell.revocationReason,
mat-cell.status {
  flex: 0 0 20%;
}

mat-header-cell.serialNumber,
mat-cell.serialNumber {
  flex: 0 0 20%;
}

mat-header-cell.actions,
mat-cell.actions {
  flex: 0 0 10%;
}
