@import "../global-styles/colors";

.container {
  display: flex;
  height: 100%;
}

.content {
  width: 100%;
  overflow: auto;
  background-color: $background;
  scrollbar-color: $edge2 transparent;
}
